body {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

.about-section {
    z-index: 2;
    height: 600px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background: linear-gradient(to bottom right, white, #737373 70%);
}

.dot-about-first {
    z-index: -1;
    position: absolute;
    left: 30%;
    top: 20%;
    height: 150px;
}

.dot-about-second {
    z-index: -1;
    position: absolute;
    right: 30%;
    bottom: 20%;
    height: 150px;
}

.about-section > h1 {
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
}

.about-section > div {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.about-section > div > img {
    height: 250px;
    border-radius: 50%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
    color: white;
}

.content {
    text-transform: capitalize;
    text-align: left;
    font-size: 20px;
    color: white;
    margin: 30px;
}

@keyframes h1Animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
    }
  }

  .about-section > h1 {
    animation: h1Animation 2s infinite;
  }