.heading-container {
    height: 100px;
    position: relative;
}

img {
    height: 100px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navbar-heading {
    display: flex;
    list-style: none;
    margin-left: 100px;
    background-color: #A6A6A6;
    height: 30px;
}

.search-bar {
    position: absolute;
    bottom: 5%;
    right: 5%;
}