body {
    font-family: 'Archivo', sans-serif;
}

.heading {
    z-index: 2;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.school-logo {
    height: 200px;
    padding: 30px;
}

.search-bar {
    margin-right: 2%;
    margin-bottom: .5%;
}

.search-bar > button {
    background-color: #8D1436;
    color: white;
    height: 30px;
    padding: 0 15px 0 15px ;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    text-transform: uppercase;
}


.school-building {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    opacity: 0.5;
}