.navbar {
    background-color: #8D1436;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Archivo', sans-serif;
    width: 800px;
}

.navbar-list > li {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .navbar-list {
        flex-direction: column;
    }
  }