.welcome-container {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-image:url(../img/welcome-bg.png);
    justify-content: space-between;
    align-items: center;

}

.swirl-img > img {
    height: 500px;
    width: auto;
    margin-left: 30%;
}

